/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 51px;
  padding-bottom: 20px;
}

#list {
  width: 100%;
}
#list th {
  padding: 0 1em;
  text-align: center;
}
#list img,
#against img {
  padding: 0.2em;
}

p.overview {
  max-width: 500px;
  padding-top: 1em;
}

.barchart div {
  background-color: #bedcfa;
  padding: 1em 0;
  display: inline-block;
}
.barchart td {
  padding: 0 1em;
}

.barchart th {
  width: 1px;
  white-space: nowrap;
}

.barchart-alt div {
  background-color: #fabedc;
}

.barchart-alt div.alt {
  background-color: #befadc;
}

.duel {
  text-align: center;
}
