/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 51px;
  padding-bottom: 20px;
}

#list {
	width: 100%;
}
#list th {
	padding: 0 1em;
	text-align: center;
}
#list img {
	padding: 0.2em;
}

p.overview {
	max-width: 500px;
	padding-top: 1em;
}
